body {
    background: #682177;
}

.container {
    position: relative;
    margin-top: 200px;
    left: 40%;
}

.circle-one {
    border-radius: 50%;
    margin-top: -45px;
    margin-left: -40px;
    width: 6em;
    height: 6em;
    border: 2px dashed orange;
    position: absolute;
}

.circle-two {
    border-radius: 50%;
    margin-top: -134px;
    margin-left: -140px;
    width: 18em;
    height: 18em;
    border: 2px dashed orange;
    position: absolute;
}

@keyframes rot-red-white {
    from {
        transform: rotate(0deg)  translate(-140px)  rotate(0deg);
    }
    to {
        transform: rotate(360deg)  translate(-140px)  rotate(-360deg);
    }
}

@keyframes rot-yellow-green {
    from {
        transform: rotate(0deg)  translate(-50px)  rotate(0deg);
    }
    to {
        transform: rotate(360deg)  translate(-50px)  rotate(-360deg);
    }
}

.yellow {
    position: absolute;
    border-radius: 100%;
    width: 0.8em;
    height: 0.8em;
    background: yellow;
    animation: rot-yellow-green 5s infinite linear;
}

.green {
    position: absolute;
    border-radius: 100%;
    width: 0.8em;
    height: 0.8em;
    background: green;
    animation: rot-yellow-green 3s infinite linear;
}

.red {
    position: absolute;
    border-radius: 100%;
    color: red;
    width: 1.3em;
    height: 1.3em;
    background: red;
    animation: rot-red-white 2s infinite linear;
}

.white {
    position: absolute;
    border-radius: 100%;
    width: 0.8em;
    height: 0.8em;
    background: white;
    animation: rot-red-white 3s infinite linear;
}